---
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { faGithub, faTwitter } from "@fortawesome/free-brands-svg-icons";
import { faRss } from "@fortawesome/free-solid-svg-icons";

const currentYear = new Date().getFullYear();
const copyrightYear = currentYear === 2024 ? "2024" : `2024-${currentYear}`;
---

<footer>
  <div class="footer-divider"></div>
  <p>&copy; <span id="copyright">{copyrightYear}</span> NotAShelf</p>
  <div class="footer-icons">
    <a href="https://github.com/notashelf" aria-label="GitHub">
      <FontAwesomeIcon icon={faGithub} title="GitHub" className="icon" />
    </a>
    <a href="https://twitter.com/notashelf" aria-label="Twitter">
      <FontAwesomeIcon icon={faTwitter} title="Twitter" className="icon" />
    </a>
    <a href="/rss.xml" aria-label="RSS Feed">
      <FontAwesomeIcon icon={faRss} title="RSS Feed" className="icon" />
    </a>
  </div>
</footer>

<style lang="scss">
  footer {
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
    position: relative;

    .icon {
      width: 0.7em;
      height: 0.7em;
    }

    .footer-divider {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 20%;
      height: 1px;
      background-color: white;
    }

    .footer-icons {
      margin: 15px 0;

      a {
        color: white;
        text-decoration: none;
        margin: 0 10px;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
</style>
